<a href="https://colab.research.google.com/github/LaurenzR/LRFirstProject/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# OMDB Exploratory Analysis

In this notebook, we will explore a few key characteristics of an OMDB dataset.

In [14]:
!ls

movies_rated.csv  sample_data

In [13]:
import pandas as pd

omdb_df = pd.read_csv('movies_rated.csv')
print(omdb_df.head())

                      title  year  ... Rotten Tomatoes Metacritic
0  The Shawshank Redemption  1994  ...             9.1        8.0
1             The Godfather  1972  ...             9.8       10.0
2           The Dark Knight  2008  ...             9.4        8.2
3    The Godfather: Part II  1974  ...             9.7        9.0
4              Pulp Fiction  1994  ...             9.4        9.4

[5 rows x 9 columns]

# Num Rows / Cols in this dataset

In [16]:
omdb_df.shape

(79, 9)

# Print out column names

In [17]:
omdb_df.columns

Index(['title', 'year', 'content_rating', 'genre', 'duration', 'gross',
       'Internet Movie Database', 'Rotten Tomatoes', 'Metacritic'],
      dtype='object')

# data types

In [18]:
omdb_df.dtypes

title                       object
year                         int64
content_rating              object
genre                       object
duration                     int64
gross                        int64
Internet Movie Database    float64
Rotten Tomatoes            float64
Metacritic                 float64
dtype: object

# Number of unique genres

In [19]:
omdb_df['genre'].nunique()

12

# Movies per Genre

In [20]:
omdb_df['genre'].value_counts()

Crime                  16
Drama                  14
Action                 11
Adventure               9
Drama                   7
Biography               5
Animation               5
Comedy                  4
Western                 3
Mystery                 2
Horror                  2
Comedy                  1
Name: genre, dtype: int64

In [23]:
omdb_df[['genre','title']].groupby('genre')

# average Rotten Tomatoes score for all available films

In [24]:
omdb_df['Rotten Tomatoes'].mean()

9.087341772151895